:root{
    --main-bg-color: #ffffff;
}

#boardWrapper{
    width: 80vh;
    height: 80vh;
    /* margin-left: calc((100vw - 80vh) / 2); */
    display: grid;
    grid-row: 2;
}


#board{
    --board-size: 11;
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    background-color: black;
    border: 1px solid black;
    /* box-shadow: 15px 15px 100px 25px black; */
    
    
}

body{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 98vh;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 9fr;
}

.cell{
    /* border: 1px solid black; */
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.playerOnePiece{
    background-color: red;
    width: 50%;
    height: 50%;
    border-radius: 50%;

}
.playerTwoPiece{
    background-color: black;
    width: 50%;
    height: 50%;
    border-radius: 50%;

}
.passWrapper{
    display: inline-flex;
    flex-direction: column-reverse;
    grid-row: 2;
}
#passBtn{
    width: 50%;
    margin-left: 50%;
}
.titleWrapper{
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}
.infoPanel{
    grid-row: 2;
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
}

.infoPanel > h2 {
    /* float: right; */
    /* display: block; */
}

@media (max-width: 1500px) and (orientation:portrait) {
    body, html{
        padding: 0;
        margin: 0;
    }
    body{
        display: inline-grid;
        grid-template-rows: 1fr 4fr 1fr 1fr;
        
    }
    #boardWrapper{
        width: 95vw;
        height: 95vw;
        margin-left: calc((100vw - 95vw)/2);
        margin-top: 5vh;
        display: grid;
        grid-row: 2;
    }
    .infoPanel{
        text-align: center;
        grid-row: 3;
        display: inline-flex;
        align-items: center;
    }
    .passWrapper{
        grid-row: 4;
        display: inline-flex;
        width: auto;
        margin: 0;
        justify-content: baseline;
        align-items: baseline;
        flex-direction: column;
    }
    #passBtn{
        width: auto;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        justify-self: baseline;
        align-self: baseline;
    }
    .titleWrapper{
        text-align: center;
        grid-row: 1;
        grid-column: auto;
    }
  }
